:root {
  --dark: #0a0a0a;
  --dark-x: #111111;
  --dark-xx: #222222;
  --ligth: #fff;
  --primary: #ff6079;
  --primary-x: #fe3051;
  --muted: ##a1b0bf;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--ligth);
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark-x) !important;
}



.text-primary {
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-ligth{
    color: var(--ligth) !important;
    
}

.text-muted{ color: var(--ligth) !important;}

.text-muted-x{ color: var(--muted) !important;}


.btn{
    font-weight: 700;
    padding: .8rem 1rem;
    border: 0;
    border-radius: .4rem;
}

.btn-primary{
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
}

.btn-secondary{
    background-color: var(--dark-x);
}

.btn-secondary:hover{
    background-color: var(--dark-x);
    opacity: .8;
}

.shadow{
    box-shadow: 0, .5rem, .5rem, 0, rgba(0, 0, 0, .5) !important;
}

.bg-primary{
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
}

.icon-container{
    height: 50px;
    width: 50px;
}

.bg-image-x{
    background-image: url(../img/bg-dark-2.svg);
    background-size: cover;
    min-height: 1000px;
}

.bg-image{
    background-image: url(../img/bg-dark-2.svg);
    background-size: cover;
    min-height: 1000px;
}
.card{
    border-radius: 1rem;
}

.card-rounded-top{
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
}

.card-rounded-bottom{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.shadow-container{
    box-shadow: 0, .5rem, .5rem, 0 rgba(0, 0, 0, .5);
}

.bg-image-xx{
    background-image: url(../img/bg-dark-3.svg);
    background-size: cover;
    min-height: 500px;
}

.resalt-container{
    background: var(--dark);
}


.form-control {
    background-color: var(--dark-xx);
    height: unset;
    padding: .8rem 1rem;
    border: 0;
}

.form-control:focus {
    background-color: var(--dark-xx);
}


@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }
    .py-5 {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .btn {
        width: 100%;
    }
    .list-inline-item {
        display: block;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    footer .list-inline-item {
        display: inline-block;
    }
    footer .text-right {
        text-align: center !important;
    }
    footer small {
        display: block;
    }
    .container{
        margin-top: 50px !important;
    }
 
}