:root {
  --dark: #0a0a0a;
  --dark-x: #111111;
  --dark-xx: #222222;
  --ligth: #fff;
  --primary: #ff6079;
  --primary-x: #fe3051;
  --muted: ##a1b0bf;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--ligth);
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark-x) !important;
}



.text-primary {
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-muted{ color: var(--ligth) !important;}

.btn{
    font-weight: 700;
    padding: .8rem 1rem;
    border: 0;
    border-radius: .4rem;
}

.btn-primary{
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
}

.btn-secondary{
    background-color: var(--dark-x);
}

.btn-secondary:hover{
    background-color: var(--dark-x);
    opacity: .8;
}

.shadow{
    box-shadow: 0, .5rem, .5rem, 0, rgba(0, 0, 0, .5) !important;
}

.bg-primary{
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
}

.icon-container{
    height: 50px;
    width: 50px;
}

.bg-image-x{
    background-image: url(../img/bg-dark-2.svg);
    background-size: cover;
    min-height: 1000px;
}

.bg-image{
    background-image: url(../img/bg-dark-2.svg);
    background-size: cover;
    min-height: 1000px;
}
.card{
    border-radius: 2rem, 2rem 0 0;
}