:root{
    --dark: #0a0a0a;
    --dark-x: #111111;
    --dark-xx: #222222;
    --ligth: #fff;
    --primary: #ff6079;
    --prymary-x: #fe3051;
    --muted: ##a1b0bf;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--ligth);
    background-color: var(--dark);
}

.bg-dark{
    background-color: var(--dark-x) !important;
}
